@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --heading-font:"Amatic SC", sans-serif;
    --text-font: "Open Sans", sans-serif;

    --background-color: #ffffff;
    --default-color: #212529;
    --heading-color: #37373f;
    --accent-color: #ce1212;
    --surface-color: #ffffff;
    --nav-color: #7f7f90;
}
.clearfix{
    clear:both;
}

header{
    width:100%;
    height:auto;
    padding: 20px 0;
    box-shadow: 2px 0 20px rgba(0, 0, 0, .1);
}

.header-cta{
    padding: 10px 18px;
    border-radius: 50px;
    color:#ffffff;
    background-color:#ce1212;
    border: none;

}

.header-cta:hover{
    cursor: pointer;
    background-color: #000000;
    color: #6e0e0e;
    

}

.header-container{
    width:1170px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--heading-color);
    font-family: var(--text-font);
    font-size:30px;
    font-weight:600;
}
.logo span{
    color: var(--accent-color);
}

nav ul li{
    display: inline;
    margin: 0 15px;
}

nav li a{
    color: var(--nav-color);
    font-family: var(--text-font);
    font-size:18px;
    padding:10px;
    transition: all .2s;
}

nav li a:hover{
    border-bottom: 3px solid var(--accent-color);

}


#hero-section{
    width:100%;
    height: auto;
    padding:60px 0;
    background-color: #f2f2f2;
}

.hero-container{
    width:1170px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    align-items: center;
}
.hero-content h1{
    font-family: var(--heading-font);
    font-size: 65px;
    font-weight: 600;
}
.hero-content h3{
    font-family: var(--text-font);
    font-size: 24px;
    color: var(--nav-color);
    font-weight: 400;
    margin: 20px 0;
}

.hero-btn{
    padding: 12px 19px;
    border-radius: 50px;
    color:#ffffff;
    background-color:#ce1212;
    border: none;

}

.hero-btn span{
    margin-left:25px;
    font-size: 16px;
    color: #212529;
    transition: 0.5s;
    font-weight: 500;
    background-color: #ce1212;
    
}

.hero-btn:hover{
    cursor: pointer;
    background-color: #000000;
    color: #6e0e0e;
}

.hero-img{
    width:100%;
    height: auto;
}
.hero-img img{
    width:100%;
    height:100%;
}

#about{
    width: 100%;
    height: auto;
    padding:50px;
}
.about-headings{
    text-align:center;
    padding: 0px 0px 50px;
}
.about-headings h4{
    color: var(--nav-color);
    font-family: var(--text-font);
    font-weight:400;

}
.about-headings h3{
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 50px;
    font-weight:500;
    padding-top:20px;
}
.about-headings h3 span{
    color: var(--accent-color);
}
.about-container{
    width:1170px;
    margin:auto;
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    gap:40px;
}

.about-img-info{
    font-size: 24px;
    color: #37373f;


}

.about-img-info a{
    font-size:28px;
    color: #ce1212;
    font-weight: 600;
}

.about-img img{
   width:100%;
   height:auto;

}
.about-img-info{
    width: 100%;
    text-align:center;
    border: 4px solid var(--heading-color);
    margin-top:20px;
    padding:50px;
}
.about-content-img{
    width:100%;
    height:auto;
}
.about-content-img img{
    width:100%;
    height:auto;
   
}

.about-content p{
   margin: 0 0 25px;
   font-size: 16px;
   font-family: var(--text-font);

}

.about-content ul li{
    font-size: 16px;
    padding: 0px 0px 20px;
    font-family: var(--text-font);
}

#why-us{
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: #f2f2f2;
}
.why-container{
    width: 1170px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 15px;
}
.why-box{
    background-color: var(--accent-color);
    padding: 30px;
}
.why-box h3{
    font-size: 34px;
    color: #ffffff;
    margin: 0 0 30px;

}
.why-box p{
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 30px;
}

.why-btn{
    font-size: 18px;
    color: #ffffff;
    padding: 8px 40px 10px; 
    background-color: #cb3d3d;  
    border:none;
    border-radius: 50px;
    transition: all 0.4s;
}
.why-btn:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #ce1212;

}

.box3{
    background-color:#ffffff ;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.box3 i{
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin: 0 0 30px;
    background-color: #b67f7f;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all  0.3s;
}

.box3 h4{
    font-size: 20px;
    margin: 0 0 30px;
}

.box3 p{
    font-size: 15px;
    margin: 0 0 16px;
    color: var(--nav-color);
}
.box3:hover i{
    color: #ffffff;
    background-color: #ce1212;
}

#ground{
    width: 100%;
    height: auto;
    background: url(../images/stats-bg.jpg) center;
    position: relative;
}
#ground:after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0px;
}

.ground-container{
    width: 1170px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;    
}

.table4{
    padding: 150px 0;
    z-index: 2;
}

.table4 h4{
    font-size: 48px;
    display: block;
    color: #ffffff;
    font-weight: 700;
}

.table4 span{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--text-font);
    color:var(--nav-color);
}

#menu-section{
    width: 100%;
    height: auto;
    padding: 60px 0 0;
}

.menu-top{
    text-align: center;   
}

.menu-top h4{
    font-size: 20px;
}

.menu-top p{
    font-size: 50px;
    font-family: var(--heading-font);
}
.menu-top span{
    color: var(--accent-color);
}
.menu-content{
    margin-top: 65px;
    text-align: center;
}

.menu-content ul li{
    display: inline;
}
.menu-content ul li a{
    font-size: 25px;
    margin: 0 25px 0 12px;
    color: var(--nav-color);
}


.menu-container{
    width: 1170px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.menu-container p{
    font: 16px;
    font-family: var(--text-font);
    color: var(--nav-color);
    margin: 0 0 10px;
}
.menu-container h3{
    font-size: 48px;
    font-family: var(--heading-font);
    color: var(--accent-color);
    margin: 0 0 50px;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.food{
    text-align: center;
    padding: 0 0 60px;
}

.food img{
    width: 100%;
    padding: 0 30px;
    margin: 0 0 20px;
}
.food h4{
    font-size: 24px;
    color: var(--heading-color);
    margin: 0 0 8px;
}
.ingredients{
    font-size: 16px;
    font-family: var(--text-font);
    color: var(--nav-color);
    margin: 0 0 8px;
}
.price{
    font-size: 26px;
    font-weight: 700;
    font-family: var(--text-font);
    color: var(--accent-color) !important;

}

#testimonials{
    color: #212529;
    background-color: #f2f2f2;
    padding: 60px 0;

}

.title{
    font-size: 16px;
    padding: 0 12px 60px;
    text-align: center;
}

.title h2{
    font-size: 13px;
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--nav-color);
}

.title p{
    font-size: 48px;
    margin: 10px 0 0;
    font-family: var(--heading-font)
}

.title span{
    font-size: 48px;
    color: #ce1212;
    font-family: var(--heading-font);
}

.testimonial-container{
    width: 1170px;
    height: auto;
    margin: auto;
}






/* ------------------------
    CHEF Section Start
--------------------------- */


#chefs{
    width: 100%;
    margin: auto;
    background-color: var(--background-color);
    padding: 50px 0;
}

.chefs-top{
    text-align: center;
    padding: 0 0 50px;
}
.chefs-top p{
    font-size: 14px;
    font-family: var(--text-font);
    color: var(--nav-color);
    margin: 0 0 20px;
}
.chefs-top h3{
    font-size: 42px;
    font-weight: 500;
    font-family: var(--heading-font);
}
.chefs-top span{
    color: var(--accent-color);
}

.chefs-container{
    width: 1170px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.member{
    background-color: var(--background-color);
    border-radius: 5px;
    text-align: center;
    padding: 0 0 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    transition: all 0.3s;
}
.member:hover{
    transform: scale(1.1);
}

.member img{
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius:7px;
}
.member-info{
    padding: 10px;
}
.member-info h4{
    font-size: 18px;
    color: var(--heading-color);
    font-family: var(--text-font);
    margin: 5px 0 8px;
}
.member-info span{
    font-size: 14px;
    font-family: var(--text-font);
    color: var(--nav-color);
}
.member-info p{
    font-size: 13px;
    font-family: var(--text-font);
    color: var(--nav-color);
    line-height: 25px;
    margin: 10px 0 0 ;
}
#testimonials{
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: #f2f2f2;
    
}

.testimonials-container{
    width: 1170px;
    height: auto;
    padding: 0 12px 60px;
    margin: auto;
    text-align: center;
}
.testimonials-container p{
    font-size: 13px;
    color: #37373f;

}

.testimonials-container h3{
    font-size: 48px;
    margin: 10px 0 0;
    color: #37373f;
    font-family:var(--heading-font);
}

.testimonials-container span{
    color: #ce1212;

}
.testimonials-content{
    width: 1170px;
    height: auto;
    margin: auto;
    align-items: center;
}

.testimonials-raw{
    width: 70%;
    height: auto;
    margin: auto;
}

.item{
    display: flex;

}

.test-left p{
    font-size: 16px;
    color: #212529;
    margin: 10px 0 5px;
    
}

.test-left p i{
    color: #b67f7f;

}

.test-left h4{
    font-size: 17px;
    color: #37373f;
    margin: 10px 0 5px;
    font-family: var(--heading-font);

}

.test-left h5{
    font-size: 13px;
    margin: 0 0 10px;
    font-family: var(--heading-font);
}

.star{
    color: #cb3d3d;
}

.test-right img{
    border-radius: 50%;
    padding: 5px;
}


#testimonials .owl-theme .owl-dots .owl-dot.active span{
    background: var(--accent-color) !important;
}

.container-section{
    width: 1170px;
    height: auto;
    margin: auto;
    color: var(--heading-color);
    text-align: center;


}

.container-section h2{
    font-family: var(--text-font);
    font-size: 13px;
    color: var(--heading-color);

}


.container-section p{
    font-family: var(--heading-font);
    font-size: 48px;
}
.container-section span{
    color: var(--accent-color);
}

.table-container{
    width: 1170px;
    height: auto;
    margin: auto;
    /* background-color: #f2f2f2; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
    padding: 30px 0;
}

.table-img img{
    width: 100%;
}

.msg-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 0 20px;
    
}

.form-control{
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    outline: none;
}

.msg-btn{
    text-align: center;
    margin: 18px 0 0 ;
}
.msg-btn button{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--text-font);
    color: var(--background-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    padding: 12px 38px 13px;
    cursor: pointer;
    transition: all 0.3s;
}


.msg-btn button:hover{
    background-color: #cb3d3d;
}

#gallery{
    width: 100%;
    background-color: #f2f2f2;
    padding: 60px 0;
    color: #212529;
    font-size: 16px;
}

.gallery-top{
    width: 1170px;
    height: auto;
    padding: 0 12px 60px;
    margin: auto;
    text-align: center;
    
}

.gallery-top h4{
    font-size: 13px;
    color: var(--nav-color)
}

.gallery-top p{
    font-size: 48px;
    margin: 10px 0 0;
    font-family: var(--heading-font);
}

.gallery-top span{
    font-size: 48px;
    margin: 10px 0 0;
    color: var(--accent-color);
}

.gallery-container{
    width: 1170px;
    height: auto;
    margin: auto;
}
#gallery .owl-stage{
    padding: 25px 0;
}

#gallery .center{
    padding: 6px;
    border: 5px solid var(--accent-color);
    transform: scale(1.25);
    background-color: var(--background-color);
    z-index: 9;
}
#gallery .owl-dot.active span{
    background: var(--accent-color);
}

#contact-form{
    width: 100%;
    font-size: 16px;
    background-color: #ffffff;
    padding: 60px 0;
}

.contact-container{
    width: 1170px;
    height: auto;
    padding: 0 12px 60px;
    margin: auto;
    color: #212529;
    text-align: center;

}

.contact-container h3{
    font-family: var(--text-font);
    font-size: 13px;
    color: var(--heading-color);
}

.contact-container p{
    font-family: var(--heading-font);
    font-size: 48px;
}

.contact-container span{
    color: #ce1212;
}

.contact-map{
    width: 1170px;
    height: auto;
    margin: auto;
}

.contact-row{
    width: 1170px;
    height: auto;
    margin: auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.contact-info{
    padding: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    display: flex;
    gap: 15px;
    align-items: center;

}

.contact-icon i{
    color: #ffffff;
    background-color: var(--accent-color);
    padding: 15px;
    font-size: 24px;
    border-radius: 50%;
    
}
.contact-post{
    width: 1170px;
    height: auto;
    margin: auto;
}

.msg-info2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 0 20px;
}
.msg-box #subject{
    margin: 0 0 20px;
}

.msg-btn2{
    text-align: center;
    margin: 18px 0 0 ;
}
.msg-btn2 button{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--text-font);
    color: var(--background-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 50px;
    padding: 12px 38px 13px;
    cursor: pointer;
    transition: all 0.3s;
}























